/* Déclaration de la police */
@font-face {
  font-family: 'BodoAmat';
  src: url('/BodoAmat.ttf') format('truetype');
}

/* Application globale */
body {
  font-family: 'BodoAmat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc; /* Fond légèrement grisé comme souvent sur les apps */
}

/* On s'assure que les boutons et inputs héritent bien de la police */
button, input, select, textarea {
  font-family: inherit;
}